setup.sh

/45-minimal-eks-cluster-karpenter-spot-nodepool-PDB/01-terraform-eks-cluster/.terraform*
/45-minimal-eks-cluster-karpenter-spot-nodepool-PDB/01-terraform-eks-cluster/terraform*

/45-minimal-eks-cluster-karpenter-spot-nodepool-PDB/02-terraform-karpenter/.terraform*
/45-minimal-eks-cluster-karpenter-spot-nodepool-PDB/02-terraform-karpenter/terraform*

/45-minimal-eks-cluster-karpenter-spot-nodepool-PDB/03-k8s-in-terraform/.terraform*
/45-minimal-eks-cluster-karpenter-spot-nodepool-PDB/03-k8s-in-terraform/terraform*